############################################################
# Matilda Cloud – Agentless Discovery Sudoers
# Service Account: {{ matilda_service_user }} | OS: Linux, AIX, Solaris, HP-UX
# Read-only, passwordless sudo for agentless infrastructure discovery
############################################################

############################
# User Definition
############################
User_Alias MATILDA_USER = {{ matilda_service_user }}
Defaults:MATILDA_USER !requiretty
Defaults:MATILDA_USER secure_path="/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

############################################################
# MATILDA_DISCOVERY – Read-Only Commands
############################################################
Cmnd_Alias MATILDA_DISCOVERY = \
/usr/bin/ip, /usr/sbin/ip, /bin/ip, /sbin/ip, \
/usr/bin/ifconfig, /usr/sbin/ifconfig, /bin/ifconfig, /sbin/ifconfig, \
/usr/bin/route, /usr/sbin/route, /bin/route, /sbin/route, \
/usr/bin/netstat, /usr/sbin/netstat, /bin/netstat, /sbin/netstat, \
/usr/bin/ss, /usr/sbin/ss, /bin/ss, /sbin/ss, \
/usr/bin/arp, /usr/sbin/arp, /bin/arp, /sbin/arp, \
/usr/bin/ethtool, /usr/sbin/ethtool, /bin/ethtool, /sbin/ethtool, \
/usr/bin/tcpdump, /usr/sbin/tcpdump, /bin/tcpdump, /sbin/tcpdump, \
/usr/sbin/dladm, \
/usr/bin/enstat, /usr/sbin/enstat, /bin/enstat, /sbin/enstat, \
/usr/bin/lsblk, /usr/sbin/lsblk, /bin/lsblk, /sbin/lsblk, \
/usr/bin/blkid, /usr/sbin/blkid, /bin/blkid, /sbin/blkid, \
/usr/bin/findmnt, /usr/sbin/findmnt, /bin/findmnt, /sbin/findmnt, \
/usr/bin/df, /usr/sbin/df, /bin/df, /sbin/df, \
/usr/bin/mount, /usr/sbin/mount, /bin/mount, /sbin/mount, \
/usr/bin/fdisk, /usr/sbin/fdisk, /bin/fdisk, /sbin/fdisk, \
/usr/bin/parted, /usr/sbin/parted, /bin/parted, /sbin/parted, \
/usr/bin/pvs, /usr/sbin/pvs, /bin/pvs, /sbin/pvs, \
/usr/bin/vgs, /usr/sbin/vgs, /bin/vgs, /sbin/vgs, \
/usr/bin/lvs, /usr/sbin/lvs, /bin/lvs, /sbin/lvs, \
/usr/sbin/lspv, /usr/sbin/lsvg, /usr/sbin/lslv, /usr/sbin/bootinfo, /usr/sbin/lsdev, \
/usr/sbin/format, /usr/sbin/luxadm, /usr/sbin/ioscan, /usr/sbin/diskinfo, \
/usr/bin/dmidecode, /usr/sbin/dmidecode, /bin/dmidecode, /sbin/dmidecode, \
/usr/bin/lsmod, /usr/sbin/lsmod, /bin/lsmod, /sbin/lsmod, \
/usr/bin/iostat, /usr/sbin/iostat, /bin/iostat, /sbin/iostat, \
/usr/bin/uptime, /usr/sbin/uptime, /bin/uptime, /sbin/uptime, \
/usr/sbin/psrinfo, /usr/sbin/prtconf, /usr/sbin/prtdiag, /usr/sbin/isainfo, /usr/sbin/sysdef, \
/usr/sbin/lsconf, /usr/sbin/lsuser, \
/usr/bin/find, /usr/sbin/find, /bin/find, /sbin/find, \
/usr/bin/cat, /usr/sbin/cat, /bin/cat, /sbin/cat, \
/usr/bin/readlink, /usr/sbin/readlink, /bin/readlink, /sbin/readlink, \
/usr/bin/pwdx, /usr/sbin/pwdx, /bin/pwdx, /sbin/pwdx, \
/usr/bin/crontab, /usr/sbin/crontab, /bin/crontab, /sbin/crontab, \
/usr/bin/yum, /usr/sbin/yum, /bin/yum, /sbin/yum, \
/usr/sbin/swlist, \
/usr/bin/docker, /usr/sbin/docker, /bin/docker, /sbin/docker, /usr/local/bin/docker, \
/usr/bin/kubectl, /usr/sbin/kubectl, /bin/kubectl, /sbin/kubectl, /usr/local/bin/kubectl, \
/usr/bin/ps, /usr/sbin/ps, /bin/ps, /sbin/ps, \
/usr/bin/pgrep, /usr/sbin/pgrep, /bin/pgrep, /sbin/pgrep, \
/usr/bin/dmesg, /usr/sbin/dmesg, /bin/dmesg, /sbin/dmesg, \
/usr/bin/lshw, /usr/sbin/lshw, /bin/lshw, /sbin/lshw, \
/usr/bin/lspci, /usr/sbin/lspci, /bin/lspci, /sbin/lspci, \
/usr/bin/mokutil, /usr/sbin/mokutil, /bin/mokutil, /sbin/mokutil, \
/usr/bin/strings, /usr/sbin/strings, /bin/strings, /sbin/strings, \
/usr/sbin/iptables, /usr/bin/iptables, /sbin/iptables, /bin/iptables, \
/usr/sbin/ip6tables, /usr/bin/ip6tables, /sbin/ip6tables, /bin/ip6tables, \
/usr/sbin/su, /usr/bin/su, /sbin/su, /bin/su

############################################################
# Privilege Assignment
############################################################
MATILDA_USER ALL=(ALL) NOPASSWD: MATILDA_DISCOVERY
