/.DS_Store

.env
reports/*.txt
*.retry

# Folder and files to ignore
matilda-discovery-readiness/docs/matilda-docs-cache
matilda-discovery-readiness/inventory.yml
matilda-discovery-readiness/.DS_Store
matilda-discovery-readiness/PLAN.md
/presentations
/assessments