/.DS_Store

.env
reports/*.txt
*.retry

# Folder and files to ignore
matilda-linux-target-prep-ansible/docs/matilda-docs-cache
matilda-linux-target-prep-ansible/inventory.yml
matilda-linux-target-prep-ansible/.DS_Store
matilda-linux-target-prep-ansible/PLAN.md
/presentations
/assessments