[defaults]
inventory = ../inventory.yml
roles_path = roles
retry_files_enabled = False
timeout = 30
host_key_checking = False
stdout_callback = default
interpreter_python = auto_silent
remote_tmp = /var/tmp

[ssh_connection]
pipelining = True
